
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <p> A ver si anda</p>

       @Html.ActionLink("Ir a Home","Index", "Home")
    </div>
</body>
</html>
